@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1707812254523') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\f0175";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-tiantianquan:before {
  content: "\e606";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-jiazai:before {
  content: "\e607";
}

